.question-card-list {
  list-style: none;
  padding: 20px 0px 0px 0px;
  margin: 6em 1em 0;
}

.question-card {
  position: relative;
  padding: 0.5em;
  border: 1px solid #000;
  margin-bottom: 1.5em;
}

.question-card div {
  position: absolute;
  top: -1em;
  right: 1em;
  padding: 0.5em;
  width: 30px;
  border: 1px solid #000;
  background-color: white;
  text-align: center;
}

.question-card h2 {
  margin: 0;
  font-size: 1.1em;
  text-transform: uppercase;
}

.question-card p {
  margin-left: 1em;
}

.question-card button {
  margin: 0 auto 1em;
  display: block;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

.question-card__tags {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.question-card__tag {
  margin: 0.4em;
  padding: 0.2em 0.5em;
  border: 1px solid #000;
  background-color: #efefef;
}
